@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

footer{
	text-align: right;
	margin-top: 1em;
}

.signature{
	font-variant: small-caps;
}
